{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Eligibility Details</h1>
  {% if eligible.created %}
      <div class="date">
          {{ eligible.created }}
      </div>
  {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
    }

    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
    }
    </style>

    <img src="{{ eligible.image.url }}" class="center" height="350">
    <h4><strong>Name: </strong> {{ eligible.name }}</h4>
    <p><strong>Type of Eligibility: </strong>{{ eligible.type_of_eligibility }}</p>
    <p><strong>Rating: </strong>{{ eligible.rating }}</p>
    <p><strong>date of exam: </strong>{{ eligible.date_of_exam }}</p>
    <p><strong>Place of exam: </strong>{{ eligible.place_of_exam }}</p>
  {% endblock %}