{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="page-header">
  <h1>Edit Eligibility on Records</h1>
      <div class="container">
      </div>
</header>
    <form method="POST" enctype="multipart/form-data" class="model-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}