{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Movies</h1>
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       {% for movie in object_list %}
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Title</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

              <div class="card-body">
                <p class="card-text">{{ movie.title }} ({{ movie.released.year }})</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <a href="{% url 'movie_detail' pk=movie.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                      <a href="{% url 'movie_update' pk=movie.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                  </div>
                  <small class="text-muted">{{ movie.genre.name }}</small>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
      </div></br>
        <a href="{% url 'movie_add' %}"><button type="button" class="btn btn-sm btn-outline-secondary"><b>Add New Movie</b></button></a>
{% endblock %}